.result-box {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 100px;
  gap: 10px;
  align-items: center;
}

#box1 {
  grid-row: 1/2;
}

#box2 {
  grid-row: 2/3;
}

.reset-button {
  width: 75%;
  padding: 7px;
  grid-row: 4/5;
  justify-self: center;
  border: 1px solid black;
}
